body, html {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C9E4CA;
}

canvas {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    border: none;
}

.title {
    position: absolute;
    font: 50px arial-black;
    bottom: 5vh;
    left: 5vh;
    padding: 10px;
    color: black;
    background-color: rgba(0, 0, 0, 0);
}

.subtitle {
    position: absolute;
    font: 20px arial-black;
    top: 5vh;
    right: 5vh;
    padding: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0);
}